{% extends "layout.html.twig" %}
 
{% block subtitulo %}
  Página principal
{% endblock %}
 
{% block contenido %}
  <div class="hero-unit">
    <img src="vista/images/homelogo.JPG"
  </div>
{% endblock %}