<div class="msg info">{{ message_info }}</div>
<div class="msg success">{{ message_success }}</div>
<div class="msg warning">{{ message_warning }}</div>
<div class="msg error">{{ message_error }}</div>